<app-navbar></app-navbar>

<div class="container-nav">
    <mat-card-title class="pseudo" style="font-family: 'Playfair Display', serif;">Gauthier</mat-card-title>
    <button (click)="navigateToContact()" mat-mini-fab class="message">
        <mat-icon>message</mat-icon>
    </button>
</div>


<div class="container responsive-grid">
  <mat-card *ngFor="let post of posts">
    <div class="card-container">
      <mat-card-header>
        <div class="header-post">
          <div class="first-line-header" *ngIf="post.authorUserName" (click)="redirectUser(post.authorUserName)">

            <img matListItemAvatar class="contact-icon" src="favicon.ico" alt="...">
            <div class="contact-username">{{ post.authorUserName }}</div>
            <div class="text" *ngIf="post.guardingAt">veut faire garder sa plante</div>

          </div>
          <div class="second-line-header">
            <mat-chip class="date-guard" *ngIf="post.guardingAt"> {{ printTimestamp(post.guardingAt!) }}
              - {{ printTimestamp(post.endGuardingAt!) }}
            </mat-chip>
            <mat-chip color="primary">{{ post.type }}</mat-chip>
          </div>
        </div>
      </mat-card-header>
      <br/>
      <div *ngIf="post.img" class="img-container">
        <img mat-card-image ngSrc="{{assetsBaseUrl}}{{post.img}}" alt="image du post" fill class="post-image"/>
      </div>
      <mat-card-content>
        <br/>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="actions">
          <div class="card-action">
            <mat-button-toggle [ngClass]="{'liked': post.liked}" (click)="likePost(post)">J'aime</mat-button-toggle>
            <button mat-button>Partager</button>
          </div>
          <button *ngIf="post.guardingAt" mat-button class="action-guard"
                  (click)="redirectMessage(post.authorUserName, post.id)">Disponible ?
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
  <button class="button-get-more" (click)="getMore()">Voir plus</button>
</div>

