<div class="popup-header" style="display: flex; flex-direction: row; margin-bottom: 15px">
  <img matListItemAvatar class="popup-contact-icon" src="favicon.ico" alt="..." style="width: 35px; height: 35px">
  <div class="popup-contact-username" style="margin: auto 0 auto 10px">{{ post.authorUserName }} veut faire garder sa
    plante
  </div>
</div>
<div class="popup-content" style="display: flex" (click)="navigateToProfile(post.authorUserName)">
  <img [src]="'http://localhost:8080/api/assets/' + post.img" alt=""
       style="width: 250px; margin: 0 auto; border-radius: 10px">
</div>
