<mat-toolbar class="navbar">
  <button (click)="navigateToHome()" mat-button class="nav-link">
    <mat-icon class="white">home</mat-icon>
  </button>
  <button (click)="navigateToSearch()" mat-button class="nav-link">
    <mat-icon class="white">search</mat-icon>
  </button>
  <button (click)="navigateToAdd()" mat-button class="nav-link">
    <mat-icon class="white">add</mat-icon>
  </button>
  <button (click)="navigateToMap()" mat-button class="nav-link">
    <mat-icon class="white">map</mat-icon>
  </button>
  <button (click)="navigateToProfile()" mat-button class="nav-link">
    <mat-icon class="white">account_circle</mat-icon>
  </button>
</mat-toolbar>
